playbook/IR-AutoContain-SuspiciousSignin.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",

    "triggers": {
      "Microsoft_Sentinel_incident": {
        "type": "ApiConnectionWebhook",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
            }
          },
          "body": {
            "callback_url": "@{listCallbackUrl()}"
          },
          "path": "/incident-creation"
        }
      }
    },

    "actions": {

      "Initialize_variables": {
        "type": "InitializeVariable",
        "runAfter": {},
        "inputs": {
          "variables": [
            { "name": "UserUPN", "type": "string" },
            { "name": "IPAddress", "type": "string" },
            { "name": "Decision", "type": "string", "value": "Triage" }
          ]
        }
      },

      "Get_incident": {
        "type": "ApiConnection",
        "runAfter": {
          "Initialize_variables": [ "Succeeded" ]
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
            }
          },
          "method": "post",
          "body": {
            "incidentArmId": "@triggerBody()?['object']?['id']"
          },
          "path": "/Incidents"
        }
      },

      "Compose": {
        "type": "Compose",
        "runAfter": {
          "Get_incident": [ "Succeeded" ]
        },
        "inputs": {
          "riskScore": "HIGH",
          "confidence": 87,
          "recommendedActions": [
            "Force password reset",
            "Require MFA re-registration",
            "Block IP temporarily"
          ],
          "rationale": "Multiple failed logins detected. Possible password spraying activity."
        }
      },

      "Parse_JSON": {
        "type": "ParseJson",
        "runAfter": {
          "Compose": [ "Succeeded" ]
        },
        "inputs": {
          "content": "@json(string(outputs('Compose')))",
          "schema": {
            "type": "object",
            "properties": {
              "riskScore": { "type": "string" },
              "confidence": { "type": "integer" },
              "recommendedActions": {
                "type": "array",
                "items": { "type": "string" }
              },
              "rationale": { "type": "string" }
            }
          }
        }
      },

      "Add_comment_to_incident": {
        "type": "ApiConnection",
        "runAfter": {
          "Parse_JSON": [ "Succeeded" ]
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
            }
          },
          "method": "post",
          "body": {
            "incidentArmId": "@body('Get_incident')?['id']",
            "message": "<p>SOAR PLAYBOOK TRIGGERED – Suspicious Sign-In Detected</p>"
          },
          "path": "/Incidents/Comment"
        }
      }

    },

    "outputs": {},

    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    }
  },

  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "azuresentinel": {
          "connectionName": "REPLACE_WITH_YOUR_CONNECTION"
        },
        "azuread": {
          "connectionName": "REPLACE_WITH_YOUR_CONNECTION"
        }
      }
    }
  }
}
